*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size);
    background-color: var(--bg);
    color: var(--white);
}
h1{
    text-box: center;
}